/* Typefaces */
.title, h1, h2 {
    font-family: 'Nunito', sans-serif;
}
.h3, .h4, p, ul, input, textarea, .button, .caption, .cta {
    font-family: 'Noto Sans', sans-serif;
}

/* Styles */
body {
    font-style: normal;
    line-height: normal;
}
.title, h1, h2, .h3, .h4 {
    text-transform: capitalize;
}
.caption {
    font-style: italic;
}
a {
    text-transform: none;
}
.button {
    text-decoration: none;
}

/* Font Weight */
.title, h1, h2 {
    font-weight: 700;
}
.button {
    font-weight: 600;
}
.h3, .h4, .cta {
    font-weight: 500;
}
p, ul, input, textarea, .caption {
    font-weight: 400;
}

/* Font Size */
.title {
    font-size: 3rem;
}
h1 {
    font-size: 2.25rem;
}
h2 {
    font-size: 1.75rem;
}
.h3, p, ul {
    font-size: 1.5rem;
}
.h4, .caption, input, textarea, .cta {
    font-size: 1.125rem;
}
.button {
    font-size: 1.25rem;
}
@media screen and (min-width: 660px) {
    html {
        font-size: 16px;
    } 
}
@media screen and (max-width: 660px) {
    html {
        font-size: 12px;
    } 
}