/* Texts */
#about-title {
    color: var(--red, #EE404A);
    text-align: center;
}
h1 {
    display: block;
    text-align: center;
    padding-bottom: 5rem;
}
.test-quote .h3 {
    margin: 0px;
}
.test-img .caption {
    display: block;
    width: 100%;
    color: var(--white);
    text-align: end;
}

/* Container */
#about-intro-container {
    align-items: flex-start;
    align-content: flex-start;
    flex-wrap: wrap;
    gap: 2.5rem;
    flex-direction: row;
    justify-content: center;
}
#value-container {
    align-content: center;
    gap: 2.5rem 3.75rem;
    flex-wrap: wrap;
    flex-direction: row;
}
#test-container {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

/* Introduction */
#about-intro {
    border-radius: 20px;
    background: #FCF0F0;
    padding: 1.25rem;
    width: 500px;
    margin: 0px;
}
#vision-mission-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 2.5rem;
}
.vision-mission-frame {
    display: inline-flex;
    padding: 1.875rem 2.5rem;
    border-radius: 20px;
    width: 21rem;
    flex-direction: column;
    align-items: flex-start;
    background: var(--yellow, #FCB813);
}
.vision-mission-frame h2 {
    width: 100%;
    text-align: center;
    border-radius: 20px;
    padding: 0.25rem 0rem;
    margin-top: 0px;
    background: rgba(255, 255, 255, 0.4);
}
.vision-mission-frame p {
    text-align: center;
}

/* Values */
.value-frame {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
}
.value-img {
    width: 12.5rem;
    height: 12.5rem;
    background-size: cover;
}
.value-frame .h3 {
    text-align: center;
    margin: 0px;
}

/* Testimonial */
#test-section {
    padding: 2.5rem;
    align-items: center;
    justify-content: center;
    color: var(--white);
}
.test-frame {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2.5rem;
    padding-left: 0px;
}
.test-quote {
    display: flex;
    width: 15rem;
    padding: 2.25rem 1.25rem;
    border-radius: 20px;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
    flex-shrink: 0;
}
.test-quote:nth-child(3n) {
    background: var(--red);
    color: var(--white);
}
.test-quote:nth-child(3n+1) {
    background: var(--blue);
    color: var(--white);
}
.test-quote:nth-child(3n+2) {
    background: var(--yellow);
}

/* Adaptive */
@media screen and (max-width: 1145px) {
    #vision-mission-container {
        flex-direction: row;
        align-items: flex-start;
    }
    .vision-mission-frame {
        width: 10rem;
        padding: 1.35rem 1.8rem;
    }
    .test-frame {
        gap: 4rem;
    }
    .test-quote {
        width: 30rem;
    }

}