/* Texts */
#contact-title {
    color: var(--red, #EE404A);
    text-align: center;
}
.contact-text {
    margin: 0px;
}
.center-text {
    color: var(--blue, #0087CD);
    font-family: Nunito;
    font-size: 3.75rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
    margin: 0px;
}

/* Container */
#contact-container {
    align-items: flex-start;
    align-content: flex-start;
    gap: 6.25rem;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
#infor-container {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2.5rem;
}
#email-container {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.25rem;
}

/* Information */
#infor-frame {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.5rem;
}
.infor-contact {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: min-content;
    gap: 1.5rem;
}

/* Email */
.email-frame {
    width: calc(100% - 1.5rem - 2px);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-bottom: 1rem;
}
.email-half-frame {
    width: calc(100% - 1.5rem - 2px);
    display: inline-flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    padding-bottom: 1rem;
}
.email-half {
    width: 14rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.email-frame .h4,
.email-half .h4 {
    padding-left: 0.75rem;
    padding-bottom: 0.25rem;
}
.email-frame sup,
.email-half sup {
    color:var(--red);
}
.email-textbox {
    padding: 0.75rem;
    border-radius: 12px;
    border: 1px solid var(--dark, #212121);
    width: 100%;
}